{% extends 'core/base.html' %}

{% block title %}
{{page_title}}
{% endblock %}


{% block container-fluid %}
<div class="container-fluid mt-2 mb-5">
    <div class="row">
        <div class="col-sm-12 px-0">
            <img src="https://picsum.photos/id/58/1200/450" alt="" class="w-100">
        </div>
    </div>
    
    <!-- Hero Content -->
    {% include 'page/components/hero_component.html' %}
    <!-- Hero Content ENd -->
    
</div>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Vizyonumuz</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto similique nam cum minus
            voluptatibus ratione est fugiat, perspiciatis ex aliquid voluptate sunt tenetur. Aut a, officia
            commodi velit unde similique?
        </p>
        <p>Commodi ex repellendus veniam reiciendis quibusdam, sapiente, facere itaque quas suscipit ut,
            obcaecati eveniet deleniti quo accusantium libero pariatur et. Deleniti molestiae dolor
            veritatis minima? Vero a molestiae voluptates porro!
        </p>
        <p>Aspernatur aut atque quis ut expedita asperiores. Consectetur vitae eveniet commodi blanditiis
            natus eligendi ducimus. Doloribus porro, ipsum obcaecati libero maiores deserunt sed culpa ex
            sequi autem recusandae dicta aliquid?
        </p>

        <hr>
        <h2>Misyonumuz</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, vel officia blanditiis possimus
            at, aperiam adipisci molestias maxime, inventore dolorum ea asperiores nihil nesciunt illum
            recusandae sequi minus impedit maiores.</p>
        <p>Ab accusamus amet sit minima ullam sapiente culpa itaque reiciendis quos eaque quam officia rem, a
            fugiat nostrum iusto eos voluptatum totam necessitatibus. Dignissimos saepe ea quas animi, itaque
            iure.</p>
        <p>Voluptatum ullam illo maiores maxime eaque quas, aspernatur atque doloremque labore, minima sed
            fugiat tenetur suscipit dolorum iste? Asperiores unde quae ad numquam facilis fuga deserunt qui
            dicta eveniet dolores?</p>
        <p>Itaque, temporibus. Neque facere, quae ipsam repellendus excepturi possimus quidem? Omnis,
            exercitationem ea aut quam ipsa natus incidunt, enim corporis assumenda necessitatibus maxime
            aliquid! Ipsam quasi vel suscipit doloribus accusantium?</p>
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Sequi, voluptates?</li>
            <li>Alias, aspernatur.</li>
            <li>Deserunt, deleniti!</li>
        </ul>
    </div>
</div>



{% endblock %}