{% extends 'core/base.html' %}

{% block title %}
{{page.title}}
{% endblock %}

{% block container-fluid %}
<div class="container-fluid mt-2 mb-5">
    <!-- One Shot Picture Start -->
    <div class="row">
        <div class="col-sm-12 px-0">
            <img src="{{ page.cover_image.url }}" alt="" class="w-100">
        </div>
    </div>
    <!-- One Shot Picture End -->

    <!-- Hero Content -->
    {% include 'page/components/hero_component.html' with hero_title=page.title %}
    <!-- Hero Content ENd -->
    
</div>
{% endblock %}


{% block container %}
{{ page.content }}
{% endblock %}